.header {
    padding: 18px 0;
    background-color: #222222;
    position: relative;
    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_logo {
        margin-right: 41px;
        text-decoration: none;
    }

    &_item {
        text-decoration: none;
        &:not(:last-child){
            margin-right: 21px;
        }

        &:last-child {
            position: relative;
        }
    }

    &_icon{
        fill:#E8E8E8;      
        transition: fill .2s linear;

        &:hover{
            fill:#F16D7F;
        }
    }

    &_left {
        display: flex;
        align-items:center;
    }

    &_right {
        display: flex;
        align-items: center;

        & input {
            background: url(/app/img/header/burger.svg);
            width: 40px;
            height: 40px;
            opacity: 1;
        }

    }

    & #burger_menu_button:checked + .burger__list {
        opacity: 1;
    }
}


.cart__round {
    position: absolute;
    left:22px;
    bottom:22px;

    &__number {
        position: absolute;
        text-decoration: none;
        top: -6px;
        right:-4px;
        @include font(12px, 14px, #fff, 400);
    }
}

@media ( max-width: 1024px) {
    .header {
        padding-left:16px;
    }
}



@media (max-width: 375px) {
    .header {
        padding-left: 0;
        padding-right: 0;
        &_item:not(:first-child) {
            display: none;
        }
        
        &_item:first-child {
            margin-right: 0;
            align-self: center;
        }
    }
}