.header {
    padding: 18px 0;
    background-color: #222222;
    
    &_wrap {
        display: flex;
        justify-content: space-between;
    }

    &_logo {
        margin-right: 41px;
        text-decoration: none;
    }

    &_item {
        text-decoration: none;
        &:not(:last-child){
            margin-right: 21px;
        }

        &:last-child {    
            position: relative;
        }
    }

    &_icon{
        fill:#E8E8E8;      
        transition: fill .2s linear;

        &:hover{
            fill:#F16D7F;
        }

        &_burger {
            transition: all .2s linear;
            
            &:hover {
                transform: rotate(90deg);
            }
        }
    }
}

.cart__round {
    position: absolute;
    left:22px;
    bottom:22px;
    

    &__number {
        position: absolute;
        text-decoration: none;
        top:-20px;
        right:-4px;
        @include font(12px, 14px, #fff, 400);
    }
}

@media ( max-width: 1024px) {
    .header {
        padding-left:16px;
        padding-right: 16px;
    }
}

@media (max-width: 375px) {
    .header {
        padding-left: 0;
        padding-right: 0;
        &_item:not(:first-child) {
            display: none;
        }
        
        &_item:first-child {
            margin-right: 0;
            align-self: center;
        }
    }
}